# Dotbot submodule
###############################
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot

# Tmux-Plugin Manager Submodules
################################
[submodule "tmux-plugin-manager"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery

[submodule "tmux-resurect"]
	path = tmux/plugins/tmux-ressurect
	url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum

[submodule "tmux-online-status"]
	path = tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
