# Ignore emacs directories
emacs/elpa/*
emacs/backups/*
emacs/cider-history
emacs/auto-save-list/*
emacs/themes/*
emacs/current-init.el
emacs/ac-comphist.dat
emacs/eproject.lst
emacs/ido.last
emacs/.emacs.desktop
emacs/.*


# Ignore tmux saves
tmux/resurrect/*

# Ignore temporary files that are in emacs buffers
bash/#*
*/#*
ssh/
ssh/*
emacs/tramp
bash/.#*
tmux/.#*
weechat/logs/*
