#       ;; DOTBOT ;;
#-------------------------------------------------
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot


[submodule "dotbot/lib/pyyaml"]
	path = dotbot/lib/pyyaml
	url = https://github.com/anishathalye/pyyaml



#       ;; TMUX PLUGIN MANAGER ;;
#--------------------------------------------------
[submodule "tmux-plugin-manager"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery

[submodule "tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum

[submodule "tmux-online-status"]
	path = tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status


#       ;;  EMACS   ;;
#--------------------------------------------------
[submodule "emacs-for-python"]
	path = emacs/emacs-for-python/
	url = https://github.com/gabrielelanaro/emacs-for-python
[submodule "emacs/emacs-for-python"]
	path = emacs/emacs-for-python
	url = git@github.com:gabrielelanaro/emacs-for-python.git


#       ;;  BASH   ;;
#--------------------------------------------------
[submodule "solarized-for-gnome-terminal"]
	path = bash/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized

